@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="jumbotron">
        <h1>JS优秀组件Demo</h1>
        <p></p>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="@Url.Action("Index","Knockout")">Knockout</a></h3>
                </div>
                <div class="panel-body">
                    mvvm
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="@Url.Action("Index","iScroll")">iScroll</a></h3>
                </div>
                <div class="panel-body">
                    官网：
                    github：https://github.com/cubiq/iscroll
                </div>
            </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="@Url.Action("Index","Swiper")">Swiper</a></h3>
                </div>
                <div class="panel-body">

                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="@Url.Action("Index","Director")">Director</a></h3>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div><!-- /.col-sm-4 -->

        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="@Url.Action("Index","Require")">Require</a></h3>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div><!-- /.col-sm-4 -->

        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="@Url.Action("Index","FineUploader")">FineUploader</a></h3>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div><!-- /.col-sm-4 -->

        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="@Url.Action("Index", "PhonoSwipe")">PhonoSwipe</a></h3>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div><!-- /.col-sm-4 -->

        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="@Url.Action("Index", "LazyLoad")">LazyLoad</a></h3>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div><!-- /.col-sm-4 -->

        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="@Url.Action("Index", "Bootstrap")">Bootstrap</a></h3>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div><!-- /.col-sm-4 -->

    </div>

</div>

